/* body {
    display: flex;
    flex-direction: column;
} */

.section-one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;    
}

.header, .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;
}



.logo {
    color:#f9faf8;
    font-size: 24px;
}

.links > a {
    font-size: 18px;
    text-decoration: none;
    padding: 0 6px;
    color: #e5e7eb;
}

.content {

    font-size: 24px;
    color: #e5e7eb;
}

.section-two {
    background-color: white;
}